@font-face {
    font-family: 'Roboto Slab';
    src: url(../../../../../../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../../../../../../assets/fonts/Roboto_Slab/RobotoSlab-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../../../../../../assets/fonts/Roboto_Slab/RobotoSlab-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../../../../../../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../../../../../assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}